include README.md
include LICENSE
include CHANGELOG.rst
include setup.cfg
include requirements-package.in
recursive-exclude * __pycache__
recursive-exclude * *.py[co]
recursive-include oasislmf/_data *
recursive-include oasislmf/schema *
