-r ./requirements-package.in

anytree
configparser>=3.5.0
coverage
discover
flake8
freezegun
future
hypothesis
ipdb
mock
parameterized
pip-tools>=2.0.2
pytest
pytest-cov
pytest-ignore-flaky
mock
responses
Sphinx
tabulate
tox
