anytree>=2.4.3
argparsetree>=0.0.5
backports.tempfile
billiard>=3.6.0.0
certifi
chainmap
chardet
cookiecutter>=1.6.0
future
jsonschema
msgpack
numba>=0.50.1
numexpr
pandas>=1.0.3,!=1.1.0,!=1.1.1
pathlib2
pytz
requests>=2.20.0
rtree>=0.8.3
requests-toolbelt
shapely>=1.6.4.post1
shutilwhich
tabulate>=0.8.2
tqdm
