anytree>=2.4.3
argparsetree>=0.0.5
backports.tempfile
backports.weakref
billiard>=3.5.0.4
chainmap
future
jsonpickle
lxml>=4.1.1
pandas>=0.24.0
pathlib2
psutil
python-interface
pytz
requests>=2.20.0
rtree>=0.8.3
requests-toolbelt
shapely>=1.6.4.post1
shutilwhich
six>=1.11.0
subprocess32
tabulate>=0.8.2
tqdm
