-r ./requirements-package.in

backports.tempfile
backports.weakref
configparser>=3.5.0
coverage
discover
flake8
freezegun
future
hypothesis
ipdb
mock
parameterized
pip-tools>=2.0.2
pytest
pytest-cov
pytest-ignore-flaky
responses
Sphinx>=2.0.1
tox