-r ./requirements-package.in
-r ./optional-package.in

configparser>=3.5.0
coverage
furo
hypothesis
mock
git+https://github.com/OasisLMF/ODS_Tools.git@feature/versioning#egg=ods-tools
pip-tools>=2.0.2
pytest
pytest-cov
pytest-ignore-flaky
sphinx-autoapi
tox
responses
