anytree>=2.4.3
argparsetree>=0.0.5
chainmap
chardet
fastparquet>=0.3.1
jsonschema
msgpack
numba>=0.55.1
numexpr
numpy<1.23,>=1.18
ods-tools>=2.3.2,<3.0.0
pandas>=1.0.3,!=1.1.0,!=1.1.1
pytz
requests-toolbelt
requests>=2.20.0
scipy
shutilwhich
tabulate>=0.8.2
tblib
tqdm
numpy<1.23,>=1.18
