jupyter

# from RTT (needs trimming / updates)
anytree
hypothesis
ipdb
ipython
ipywidgets==7.6.5
fileupload
matplotlib
pandas-datareader
pandas==1.2.0
parameterized
pathlib
pytest
qgrid
tabulate
graphviz
