jupyter

# from RTT (needs trimming / updates)
anytree
hypothesis
ipdb
ipython
ipywidgets
fileupload
matplotlib
pandas-datareader
pandas==1.2.0
pathlib
pytest
qgrid
tabulate
graphviz
websocket-client==1.8.0
git+git://github.com/OasisLMF/OasisLMF.git@develop#egg=oasislmf
