name: Build computation schema

on:
  pull_request:
  workflow_dispatch:
  workflow_call:
  push:
    branches:
      - main
      - stable**
jobs:
  build-schema:
    runs-on: ubuntu-latest

    steps:
      - uses: actions/checkout@v3
      - name: Setup Python
        uses: actions/setup-python@v4
        with:
          python-version: "3.11"

      - name: Build & install oasislmf
        run: |
          python -m pip install --upgrade pip
          pip install --upgrade setuptools wheel build
          python -m build

          WHL_LINUX=$(find ./dist/ -name "oasislmf-*.whl")
          pip install ${WHL_LINUX}

      - name: Create schema
        run: |
          oasislmf model generate-computation-settings-json-schema

      - name: Store Computation Schema
        uses: actions/upload-artifact@v4
        with:
          name: computation_schema
          path: ./computation_settings_schema.json
          retention-days: 5
