# Workflow for building the oasislmf python package
#
#  Inputs:
#    ktools_branch: If given a git reference for the ktools repo, add in an optional
#                    'build ktools' Job. The output binaries from that job is used to
#                    build oasislmf instead of pulling them from a ktools release
#
#    build_osx: either `true`, `false`, when set to true run the steps to build an
#                OSX python package using the mac (intel) amd64 ktool binaries.
#                If 'ktools_branch' is not set, or the file 'Darwin_x86_64.tar.gz'
#                has not been attached to the pinned ktools release this will fail.
#
#  Outputs:
#    src_pkg_filename:  source package filename, used for downloading the stored
#                       artifact in other related Jobs
#
#    bin_pkg_filename: wheel package filename

name: Oasislmf Build

on:
  workflow_dispatch:
  workflow_call:

    outputs:
      src_pkg_filename:
        description: "Source package filename"
        value: ${{ jobs.oasislmf.outputs.src_pkg_filename }}
      bin_pkg_filename:
        description: "Bin package filename"
        value: ${{ jobs.oasislmf.outputs.bin_pkg_filename }}

jobs:
  oasislmf:
    runs-on: ubuntu-latest
    outputs:
      src_pkg_filename: ${{ steps.package_src.outputs.filename }}
      bin_pkg_filename: ${{ steps.bin_whl.outputs.filename }}
    steps:
    - name: Dump github context
      run:   echo "$GITHUB_CONTEXT"
      shell: bash
      env:
       GITHUB_CONTEXT: ${{ toJson(github) }}

    - uses: actions/checkout@v3
    - name: Set up Python
      uses: actions/setup-python@v4
      with:
        python-version: 3.12

    # --- Source Distribution --- #
    - name: Build
      run: |
        pip install --upgrade setuptools wheel build
        python -m build

    - name: find outputs
        TAR_PKG=$(find ./dist/ -name "oasislmf-*.tar.gz")
        WHL_LINUX=$(find ./dist/ -name "oasislmf-*.whl")

        echo "PKG_SRC_PATH=${TAR_PKG}" >> $GITHUB_ENV
        echo "PKG_BIN_PATH=${WHL_LINUX}" >> $GITHUB_ENV

    - name: Store - source distribution
      uses: actions/upload-artifact@v4
      with:
        name: oasislmf-source-pkg
        path: ${{ env.PKG_SRC_PATH }}
        retention-days: 5

    - name: Filename - source distribution
      id: package_src
      run: |
        FILENAME=$(find ./dist/ -name "oasislmf-*.tar.gz" -exec basename {} \;)
        echo "filename=$FILENAME" >> $GITHUB_OUTPUT


    - name: Store - binary distribution
      uses: actions/upload-artifact@v4
      with:
        name: oasislmf-bin-pkg_linux
        path: ${{ env.PKG_BIN_PATH }}
        retention-days: 5

    - name: Filename - binary distribution
      id: bin_whl
      run: |
        FILENAME=$(find ./dist/ -name "oasislmf-*.whl" -exec basename {} \;)
        echo "filename=$FILENAME" >> $GITHUB_OUTPUT
