# Workflow to test the MDK command line works by invoking
#   'oasislmf model run' on a piwind branch
#
#    The output is not checked, and will fail on either exceptions
#    or empty output files

name: PiWind MDK

on:
  push:
    branches:
      - master
      - develop
      - backports**
  pull_request:
    branches:
      - master
      - develop
      - backports**

  workflow_dispatch:
    inputs:
      piwind_branch:
        description: 'Branch to run PiWind from'
        required: true
        default: develop
      mdk_run_type:
        description: 'Loss modes to test, options are one of "[gul, il, ri]"'
        required: true
        default: ri
      ods_branch:
        description: 'Build ods_tools package before test [git ref]'
        required: false
        type: string


jobs:
  PiWind:
    uses: OasisLMF/OasisPiWind/.github/workflows/run_mdk.yml@master
    with:
      mdk_branch: ${{ github.ref }}
      mdk_run_type: ${{ github.event_name != 'workflow_dispatch' && 'ri' || inputs.mdk_run_type }}
      piwind_branch: ${{ github.event_name != 'workflow_dispatch' && 'develop' || inputs.piwind_branch }}
      ods_branch: ${{ github.event_name != 'workflow_dispatch' && 'feature/oed_interface' || inputs.ods_branch }} # TESTING
      #ods_branch: ${{ github.event_name != 'workflow_dispatch' && 'develop' || inputs.piwind_branch }}
