# Workflow to remote call the PiWind output checks using
# a branch of oasislmf
#
# Inputs:
#   platform_version: The docker tag (OasisPlatfrom Release) to test the oasis stack with
#                     SemVar string of published docker images "1.26.4" ({n}.{n}.{n})
#                     default is "latest"
#
#   piwind_branch: The git reference (like branch name / Pull request) to run the PiWind tests from
#
#   ktools_branch: The git reference to a ktools branch, If a ktools reference is set, then
#                  also build ktools and use the binaries when building the oasislmf package.
name: PiWind output check

on:
  push:
    branches:
      - main
      - stable**
  pull_request:
    branches:
      - main
      - stable**

  workflow_dispatch:
    inputs:
      platform_1_version:
        description: 'OasisPlatform 1 - Version to test [docker tag]'
        required: true
        default: latest
      platform_2_version:
        description: 'OasisPlatform 2 - Version to test [docker tag]'
        required: true
        default: latest
      piwind_branch:
        description: 'Branch to run PiWind from [git ref]'
        required: true
      ktools_branch:
        description: 'Build ktools [git ref]'
        required: false
      ods_branch:
        description: 'Build ods_tools package before test [git ref]'
        required: false
        type: string


jobs:
  build:
    uses: ./.github/workflows/build.yml
    secrets: inherit
    with:
      ktools_branch: ${{ github.event_name != 'workflow_dispatch' && '' ||  inputs.ktools_branch }}

  ods_tools:
    if: ${{ inputs.ods_branch != '' || github.event_name != 'workflow_dispatch' }}
    uses: OasisLMF/ODS_Tools/.github/workflows/build.yml@main
    secrets: inherit
    with:
      ods_branch: ${{ github.event_name != 'workflow_dispatch' && 'main' ||  inputs.ods_branch }}

  platform1:
    if: ${{ ! failure() || ! cancelled() }}
    uses: OasisLMF/OasisPiWind/.github/workflows/test.yml@main
    secrets: inherit
    needs: [build, ods_tools]
    with:
      piwind_branch: ${{ github.event_name != 'workflow_dispatch' && 'main' || inputs.piwind_branch }}
      oasislmf_package: ${{ needs.build.outputs.linux_pkg_filename }}
      oasislmf_branch: ''
      ods_package: ${{ needs.ods_tools.outputs.whl_filename }}
      platform_version: ${{ github.event_name != 'workflow_dispatch' && 'latest' ||  inputs.platform_1_version }}
      storage_suffix: '_platform1'

  platform2:
    if: ${{ ! failure() || ! cancelled() }}
    uses: OasisLMF/OasisPiWind/.github/workflows/test.yml@main
    secrets: inherit
    needs: [build, ods_tools]
    with:
      piwind_branch: ${{ github.event_name != 'workflow_dispatch' && 'main' || inputs.piwind_branch }}
      oasislmf_package: ${{ needs.build.outputs.linux_pkg_filename }}
      oasislmf_branch: ''
      ods_package: ${{ needs.ods_tools.outputs.whl_filename }}
      platform_version: ${{ github.event_name != 'workflow_dispatch' && '2.2.0' ||  inputs.platform_2_version }}
      pytest_opts: "--docker-compose=./docker/plat2.docker-compose.yml "
      storage_suffix: '_platform2'
