name: PiWind check output

on:
  push:
  workflow_dispatch:
    inputs:
      build_branch:
        description: 'Branch of build script repo - https://github.com/OasisLMF/build'
        required: true
        default: master
      platform_version:
        description: 'OasisPlatform Version to test using'
        required: true
        default: latest
      piwind_branch:
        description: 'Branch to run PiWind from'
        required: true
        default: develop
      build_worker:
        description: 'Build new worker based on "mdk_branch" value'
        required: true
        default: true

jobs:
  PiWind:
    uses: OasisLMF/OasisPiWind/.github/workflows/check_results.yml@master
    with:
      build_branch: ${{ github.event_name == 'push' && 'master' ||  inputs.build_branch }}
      platform_version: ${{ github.event_name == 'push' && 'latest' ||  inputs.platform_version }}
      piwind_branch: ${{ github.event_name == 'push' && 'backports/1.23.x' || inputs.piwind_branch }}
      build_worker: ${{ github.event_name == 'push' && 'true' || inputs.build_worker }}
      mdk_branch: ${{ github.ref_name }}
