# Workflow to update the version tags in the oasislmf repo
#
#  inputs:
#    oasislmf_version: Update the package version stored in __init__.py

name: Oasislmf Version

on:
  workflow_dispatch:
    inputs:
      oasislmf_version:
        description: 'Update the package version [semvar]'
        required: false
        default: ""

  workflow_call:
    inputs:
      oasislmf_version:
        description: 'Update the package version'
        required: false
        default: ""
        type: string

env:
  oasislmf_file: 'oasislmf/__init__.py'
  oasislmf_regex: '^__version__'


jobs:
  version:
    runs-on: ubuntu-latest
    steps:

    - name: Check input is valid semvar (Oasislmf)
      if: inputs.oasislmf_version != ''
      run: |
        VALID=$(echo ${{ inputs.oasislmf_version }} | grep -oPc "^(\d+)\.(\d+)\.(\d+)rc(\d+)|(\d+)\.(\d+)\.(\d+)$")
        [[ "$VALID" -eq "1" ]] || exit 1

    - name: Checkout
      if: inputs.oasislmf_version != ''
      uses: actions/checkout@v3
      with:
        fetch-depth: 0 # fetch the whole repo for complete history

    - name: Setup github user
      if:  inputs.oasislmf_version != ''
      run: |
        git config --global user.email ${{ env.GIT_EMAIL }}
        git config --global user.name ${{ env.GIT_USERNAME }}
        git config --global pull.ff only
      env:
        GIT_EMAIL: ${{ secrets.BUILD_GIT_EMAIL }}
        GIT_USERNAME: ${{ secrets.BUILD_GIT_USERNAME }}

    - name: Write oasislmf version
      if: inputs.oasislmf_version != ''
      run: |
        CURRENT_VER=$(grep ${{ env.oasislmf_regex }} ${{ env.oasislmf_file }} | awk -F"'" '{print $2}')
        sed -i 's|'$CURRENT_VER'|'${{ inputs.oasislmf_version }}'|g' ${{ env.oasislmf_file }}
        git add ${{ env.oasislmf_file }}
        # Only commit if something changed
        [[ -z $(git status -s) ]] || git commit -m "Set oasislmf to version ${{ inputs.oasislmf_version }}"

    - name: Push
      if: inputs.oasislmf_version != ''
      run: git push
      env:
        GITHUB_TOKEN: ${{ secrets.BUILD_GIT_TOKEN }}
